
{% extends 'base.html' %}
{% block content %}
<section class="projectsList">
    <div class="container">
        <div class="grid grid--three">
{% if message %}
<h1> {{message}} </h1>
{% endif %}
<br></br>
<form class="form" action="" method="POST">
    {% csrf_token %}
    <p>filter the blogs according to category</p>

    {% for field in form %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
    <a class="btn btn--sub btn--lg  my-md" href="{% url 'blogs' %}"> Refresh </a>
    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
   
</form>
<div> <br> </br> </div>
            {% for project in blogs %}
            <div class="column">
                <div class="card project">
                    <a href="{% url 'blog' project.id %}" class="project">
                        <img class="project__thumbnail" src="{{project.featured_image.url}}" alt="project thumbnail" />
                        <div class="card__body">
                            <h3 class="project__title">{{project.title}}</h3>
                            <p><a class="project__author" href="">By
                                    {{project.owner}}</a>
                            </p>
                            
                            
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>


</main>




{% endblock %}